{% extends '::base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    {% include '@OCWebAgency/Navigation/frontEnd.html.twig' %}

    <h1>Page d'accueil</h1>


{% endblock %}